{% extends "layout.html" %}
{% block content %}
    {% for transaction in transactions %}

        <div class="card border-dark mb-3">
            <div class="row card-body fs-4">
                <div class="col fw-bold">
                    {{ transaction.category_name }}
                </div>
                <div class="col text-end">
                    {{ transaction.total }}
                </div>
            </div>
            <div class="card-header fs-5">
                <div class="row">
                    <small class="col card-title">{{ transaction.transaction_date.strftime('%d %B, %Y') }}</small>
                    <small class="col card-title text-end">{{ '%0.2f' | format(transaction.amount|float) }}zł</small>
                </div>
            </div>
        </div>
    {% endfor %}
{% block transactionWindow %}{% endblock %}
{% endblock content %}

