{% extends "layout.html" %}
{% block content %}
    <div class="card border-primary mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <a type="button" class="btn btn-sm btn-info"
                       href="{{ url_for('home_by_date', month=month, year=year, button='prev') }}">Previous month</a>
                </div>
                <div class="col text-center">
                    <a>Current month:<br>{{ month_name }} {{ year }}</a>
                </div>
                <div class="col text-end">
                    <a type="button" class="btn btn-sm btn-info"
                       href="{{ url_for('home_by_date', month=month, year=year, button='next') }}">Next month</a>
                </div>
            </div>
        </div>
        <div class="card-body fs-6">
            <div class="row text-success">
                <div class="col">
                    Inflow:
                </div>
                <div class="col text-end">
                    +{{ inflow_sum }} zł
                </div>
            </div>
            <div class="row text-danger">
                <div class="col">
                    Outflow:
                </div>
                <div class="col text-end">
                    {{ outflow_sum }} zł
                </div>
            </div>
            <div class="row" style="text-decoration: overline">
                {% if (inflow_sum + outflow_sum) > 0 %}
                    <div class="col mt-1 text-end text-success" >
                        +{{ '%0.2f' | format((inflow_sum + outflow_sum)|float) }} zł
                    </div>
                {% elif (inflow_sum + outflow_sum) < 0 %}
                    <div class="col mt-1 text-end text-danger">
                        {{ '%0.2f' | format((inflow_sum + outflow_sum)|float) }} zł
                    </div>
                {% else %}
                    <div class="col mt-1 text-end text-warning">
                        {{ '%0.2f' | format((inflow_sum + outflow_sum)|float) }} zł
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% for category_and_money in money_amount_by_category %}
        {% for tran in transactions %}
            {% if category_and_money[0] == tran[0].category_name %}
                <div class="card border-dark mb-3">
                    <div class="row card-body fs-4">
                        <div class="col fw-bold">
                            {{ category_and_money[0] }}
                        </div>
                        <div class="col">
                            {% if category_and_money[0] in income_cateogires %}
                                <div class="col text-end">
                                    Inflow: +{{ '%0.2f' | format(category_and_money[1]|float) }} zł
                                </div>
                            {% else %}
                                <div class="col text-end">
                                    Outflow: {{ '%0.2f' | format(category_and_money[1]|float) }} zł
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-header fs-5">
                        {% for transaction in tran %}
                            <a style="color: #333333" class="row text-decoration-none" data-bs-toggle="collapse"
                               href="#c{{ transaction.id }}" type="button"
                               aria-expanded="false" aria-controls="collapseExample">
                                <small class="col card-title">{{ transaction.transaction_date.strftime('%d %B, %Y') }}</small>
                                <small class="col card-title text-end">{{ '%0.2f' | format(transaction.amount|float) }}
                                    zł</small>
                            </a>
                            <div class="collapse mb-3 mt-1" id="c{{ transaction.id }}">
                                <a class="card-header fs-6 text-muted text-decoration-none">Description</a>
                                <div class="card card-body">
                                    {{ transaction.description }}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a href="{{ url_for('edit_transaction', transaction_id=transaction.id, month=month, year=year) }}"
                                           type="button" class="mt-2 btn btn-sm btn-secondary">Edit</a>
                                    </div>
                                    <div class="col text-end">
                                        <button type="button" class="mt-2 btn btn-sm btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#deleteModal" data-bs-whatever="{{ transaction.id }}">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% block transactionWindow %}{% endblock %}
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Confirm Deletion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Delete this transaction?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <form id="recipient-name" action="" method="POST">
                        <input class="btn btn-danger" type="submit" value="Yes">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const deleteModal = document.getElementById('deleteModal')
        deleteModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            const modalFooterForm = deleteModal.querySelector('.modal-footer form')
            modalFooterForm.setAttribute("action", "/home/transaction/" + recipient + "/delete?month=" + {{ month }} +"&year=" + {{ year }})
        })
    </script>
{% endblock content %}